/* src/assets/header.css */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #a0d9ed;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Schatten für einen eleganten Look */
  flex-wrap: wrap;
}

/* Logo-Stil */
.logo {
  display: flex;
  align-items: center;
  margin-left: auto;
}

/* Logo-Bild-Stil */
.logo img {
  height: 50px; /* Maximale Höhe des Logos */
  width: auto; /* Beibehaltung des Seitenverhältnisses */
  display: block;
}

nav {
  display: flex;
  gap: 10px; /* Abstand zwischen Navigationselementen */
}

.header-button {
  background-color: #5899ff;
  border: none;
  color: white;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.header-button:hover {
  background-color: #3456a1; /* Hover-Effekt für den Button */
}

/* Responsiver Header */
@media (max-width: 768px) {
  .header {
    flex-direction: column; /* Vertikale Ausrichtung bei schmalen Bildschirmen */
    text-align: center;
  }

  nav {
    margin-top: 10px; /* Abstand zwischen Logo und Navigation */
  }
}
