/* src/assets/styles.css */

/* Globale Stile */
body {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
  color: #2c3e50;
  background-color: #f9f9f9;
  line-height: 1.6; /* Verbessert die Lesbarkeit */
}

#app {
  text-align: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Mindestens die volle Höhe des Viewports */
}

/* Container */
.container {
  max-width: 1200px;
  padding: 0 0; /* Abstand am Rand */
  flex: 1;
}

.flavor-container {
  max-width: 1600px;
}

/* Geschmaecker*/
.flavors-section img {
  width: 100%; /* Bild nimmt die volle Breite des Containers ein */
  height: auto; /* Höhe wird automatisch angepasst, um das Seitenverhältnis zu wahren */
  display: block; /* Entfernt zusätzliche Abstände durch Inline-Elemente */
  margin: 0; /* Entfernt jeglichen Außenabstand */
  padding: 0; /* Entfernt jeglichen Innenabstand */
}

/* Entfernt Ränder und Abstände für die gesamte Sektion */
.columForTwo {
  margin: 0;
  padding: 0;
}

/* Entfernt Ränder und Abstände für die Spalten */
.col-md-6 {
  margin: 0;
  padding: 0;
  border: none;
}

/* Entfernt Ränder und Abstände für die Bilder */
.col-md-6 img {
  margin: 0;
  padding: 0;
  border: none;
  display: block; /* Verhindert zusätzliche Abstände durch Inline-Elemente */
  width: 100%; /* Stellt sicher, dass die Bilder die volle Breite einnehmen */
}

/* Verhindert Abstände zwischen Zeilen */
.row {
  margin-left: 0;
  margin-right: 0;
}

/* Verhindert Abstände innerhalb der .flavors-section */
.flavors-section {
  margin: 0;
  padding: 0;
}

/* Logo */
.logo {
  max-width: 100%; /* Bild wird maximal so breit wie der Container */
  height: auto; /* Höhe passt sich automatisch an, um das Seitenverhältnis zu erhalten */
  display: block; /* Entfernt zusätzliche Abstände, die durch Inline-Elemente entstehen */
  margin: 0 auto; /* Zentriert das Bild innerhalb des Containers */
}

/* Typografie */
h1,
h2,
h3 {
  color: #2c3e50;
  margin-bottom: 20px;
}

p {
  margin-bottom: 15px;
  font-size: 1rem;
  line-height: 1.6;
}

/* Grauer Hintergrund */
.grey-bg {
  background-color: #f0f0f0; /* Helles Grau */
}

/* Blauer Hintergrund */
.blue-bg {
  background-color: #89cff0;
}

/* Buttons */
button {
  background-color: #5899ff;
  color: white;
  font-family: inherit;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  padding: 10px 15px;
  transition: background-color 0.3s ease;
  width: auto; /* Breite passt sich dem Inhalt an */
  display: inline-block; /* Stellt sicher, dass der Button nur so breit wie der Text ist */
  margin: 3px;
}

button:hover {
  background-color: #3456a1;
}

.costum-button {
  background-color: #5899ff;
  border: none;
  color: white;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.costum-button:hover {
  background-color: #3456a1; /* Hover-Effekt für den Button */
}

/* Links */
a {
  color: #5899ff;
  text-decoration: none;
  transition: color 0.3s ease;
}

a:hover {
  color: #3456a1; /* Hover-Farbe für Links */
}

/* Abstände */
.mb-4 {
  margin-bottom: 1.5rem;
}

/* Responsive Layout */
@media (max-width: 768px) {
  .container {
    padding: 0 10px;
  }

  h1 {
    font-size: 1.8rem;
  }

  .button {
    width: 100%; /* Button nimmt die volle Breite ein */
    font-size: 1rem; /* Schriftgröße bleibt gleich */
    padding: 12px 20px; /* Größeres Padding für bessere Bedienbarkeit */
  }
}
